@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800&display=swap');

html{
	font-size: 10px;
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding: 0;
}

ul{
	margin: 0;
}

.container{
	height: 106.9rem;
	width: 142.5rem;
	background: url(../images/container/bg.jpg) no-repeat;
	background-size: contain;
	padding: 0.01%;
}

.container__blow{
    max-width: 121rem;
    margin: 17.5rem auto 0;
}

.blow{
    width: 124.7rem;
    height: 71.8rem;
    background: url(../images/blow/blow.jpg) no-repeat;
    background-size: contain;
    border-radius: 0.8rem;
}

.layout{
	display: flex;
	justify-content: space-between;
}

.layout__col_30pc{
	width: 30%;
}

.layout__col_70pc{
	width: 70%;
}

.blow__side-title{transform: rotate(-90deg);position: absolute;left: -216px;bottom: -124px;}

.side-title{background: #fff;height: 7.1rem;width: 71.8rem;padding: 0.01%;border-radius: 6px;}

.side-title__get-in-touch{margin: 0 22.7rem 0 0;}

.get-in-touch{
	text-transform: uppercase;
	font-family: Montserrat;
	font-weight: bold;
	font-size: 1.3rem;
	line-height: 7.1rem;
}

.get-in-touch__project{
	color: #b3b3b3;
	font-weight: 600;
}

.side-title__brief-case{margin: 1.7rem 1.7rem;/* transform: rotate(90deg); */}

.brief-case{display: block;height: 3.6rem;width: 4rem;transform: rotate(90deg);}

.brief-case__img{
}

.blow__blow-part{
    display: inline-block;
}

.blow-part{
    width: 83rem;
    height: 5.1rem;
}

.blow-part__header{}

.header{}

.header__logo{}

.header__menu{}

.menu{}

.menu__item{}

.menu__link{}

.blow-part__explore-button{}

.explore-button{}







